# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Node / Next
node_modules/
.next/
out/
dist/
coverage/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Docker
**/.dockerignore
